In [19]:
import pandas as pd
from tqdm import tqdm

In [20]:
df = pd.read_csv('data.csv')

In [21]:
df.head()

,Distance in Kilometres,Ahmedabad,Bangalore,Bhubaneshwar,Bombay,Calcutta,Chandigarh,Cochin,Delhi,Hyderabad,...,Jaipur,Kanpur,Lucknow,Madras,Nagpur,Nasik,Panjim,Patna,Pondicherry,Pune
0,Agartala,3305,3824,2286,3593,1863,2998,4304,2708,3330,...,2801,2281,2252,3493,2696,3365,3507,1681,3661,3442
1,Agra,878,1848,1578,1202,1300,448,2278,200,1246,...,230,290,369,2048,770,1005,1715,885,2210,1214
2,Ahmedabad,-,1490,1697,552,2068,1157,1845,911,1436,...,648,1168,1247,1821,965,504,1165,1656,1818,664
3,Allahabad,1251,1686,1090,1457,817,912,2216,650,1084,...,713,193,234,2011,608,1155,1419,402,1077,1364
4,Amritsar,1356,2496,2224,1849,1919,239,3163,445,1892,...,706,926,939,2688,1416,1665,2237,1531,2856,1862

In [22]:
# assertions to check validity of data
for i in range(1, len(df.columns)):
    assert (df.columns[i] in df['Distance in Kilometres'].values)
    cities = df['Distance in Kilometres']
    dist = df[df.columns[i]]
    for j in range(len(dist)):
        if (cities[j] not in df.columns):
            continue
        dist_1 = dist[j]
        dist_2 = df.iloc[j][df.columns[i]]
        assert (dist_1 == dist_2)

In [23]:
# seperating class 1 cities in a new dataframe
df_ = {'Distance in Kilometres': list(df.columns[1:])}
for city in df['Distance in Kilometres']:
    df_[city] = []
for from_city in df.columns[1:]:
    for idx in range(len(df[from_city])):
        to_city_dist = df[from_city][idx]
        df_[df['Distance in Kilometres'][idx]].append(to_city_dist)
df_ = pd.DataFrame(df_)

In [24]:
# remove class 1 from class 2
for i in range(1, len(df.columns)):
    city = df.columns[i]
    idx = df['Distance in Kilometres'][df['Distance in Kilometres'] == city].index[0]
    df.drop(idx, inplace=True)

In [25]:
print('Class 1 cities')
print(df_)
print('Class 2 cities')
print(df)

Class 1 cities
   Distance in Kilometres Agartala  Agra Ahmedabad Allahabad Amritsar Asansol  \
0               Ahmedabad     3305   878         -      1251     1356    1842
1               Bangalore     3824  1848      1490      1686     2496    2187
2            Bhubaneshwar     2286  1578      1697      1090     2224     523
3                  Bombay     3593  1202       552      1457     1849    2040
4                Calcutta     1863  1300      2068       817     1919     226
5              Chandigarh     2998   448      1157       912      239    1503
6                  Cochin     4304  2278      1845      2216     3163    2544
7                   Delhi     2708   200       911       650      445    1262
8               Hyderabad     3330  1246      1436      1084     1892    1693
9                  Indore     2891   591       442       803     1258    1394
10                 Jaipur     2801   230       648       713      706    1304
11                 Kanpur     2281   290      1168       193      926     789
12                Lucknow     2252   369      1247       234      939     825
13                 Madras     3493  2048      1821      2011     2688    1857
14                 Nagpur     2696   770       965       608     1416    1122
15                  Nasik     3365  1005       504      1155     1665    1746
16                 Panjim     3507  1715      1165      1419     2237    2300
17                  Patna     1681   885      1656       402     1531     395
18            Pondicherry     3661  2210      1818      1077     2856    2024
19                   Pune     3442  1214       664      1364     1862    1955

   Bangalore Baroda Bhopal  ... Pondicherry  Pune Ranchi Shillong Shimla  \
0       1490    119    523  ...        1818   664   1781     2839   1256
1          -   1408   1148  ...         328   826   2098     3242   2395
2       1538   1604   1162  ...        1375  1587    560     1640   2127
3       1013    433    778  ...        1452   184   1816     3011   1753
4       1961   1937   1495  ...        1798  2058    414     1281   1839
5       2296   1181    988  ...        2657  1663   1480     2416     99
6        512   1763   1995  ...         530  1181   2455     3599   3056
7       2049   1151    742  ...        2411  1417   1214     2126    365
8        563   1127    808  ...         867   545   1434     1309   1812
9       1601    379    191  ...        1963   623   1333     2309   1171
10      2005    789    596  ...        2368  1371   1243     2229    636
11      1855   1230    585  ...        2217  1312    723     1699    846
12      1934   1311    664  ...        2296  1391    912     1670    659
13       331   1739   1604  ...         168  1157   1767     2911   2588
14      1078    774    352  ...        1440   909    958     2114   1336
15      1035    457    605  ...        1363   209   1615     2800   1567
16       440   1158   1143  ...         739   501   1630     2925   2130
17      2071   1582   1016  ...        2264  1738    302     1019   1434
18       328   1735   1772  ...           -  1154   1935     3079   2759
19       826    545    814  ...        1154     -   1675     2860   1782

   Surat Trivandrum Varanasi Vijayawada Vishakapatnam
0    263       2197     1373       1705          1815
1   1264        696     1791        637          1093
2   1579       1953      968        775           445
3    301       1376     1597        973          1754
4   1912       2376      695       1198           868
5   1325       3051     1032       1959          2127
6   1593        218     2331       1174          1449
7   1182       1950      745       1716          1881
8    983       1261     1189        269           599
9    607       2156      925       1255          1433
10   932       2782      835       1660          1838
11  1296       2611      315       1519          1687
12  1375       2690      286       1598          1765
13  1695        748     1985        432           762
14   749       1834      713        742           910
15   262       1742     1399       1428          1596
16   913        792     1524        876          1206
17  1742       2827      280       1664          1334
18  1789        622     2153        598           930
19   412       1533     1459        842          1658

[20 rows x 48 columns]
Class 2 cities
   Distance in Kilometres Ahmedabad Bangalore Bhubaneshwar Bombay Calcutta  \
0                Agartala      3305      3824         2286   3593     1863
1                    Agra       878      1848         1578   1202     1300
3               Allahabad      1251      1686         1090   1457      817
4                Amritsar      1356      2496         2224   1849     1919
5                 Asansol      1842      2187          523   2040      226
7                  Baroda       119      1408         1604    433     1937
8                  Bhopal       523      1148         1162    778     1495
12                Calicut      1648       520         1923   1171     2346
15             Coimbatore      1669       333         1633   1192     2057
17                Gwalior       919      1734         1486   1085     1224
18                  Hubli      1101       391         1620    614     2032
20                 Imphal      3240      3677         2139   3446     1717
22               Jabalpur       901      1335         1087   1143     1167
24             Jamshedpur      1225      1690          422   1916      268
25              Jullundur      1285      2416         2413   1778     1869
27               Kolhapur       911       484         1622    426     2045
29               Ludhiana      1220      2358         2088   1770     1783
31                Madurai      1922       432         1687   1458     2110
32                 Meerut      1092      2072         1822   1468     1497
39                 Ranchi      1781      2098          560   1816      414
40               Shillong      2839      3242         1640   3011     1281
41                 Shimla      1256      2395         2127   1753     1839
42                  Surat       263      1264         1579    301     1912
43             Trivandrum      2197       696         1953   1376     2376
44               Varanasi      1373      1791          968   1597      695
45             Vijayawada      1705       637          775    973     1198
46          Vishakapatnam      1815      1093          445   1754      868

   Chandigarh Cochin Delhi Hyderabad  ... Jaipur Kanpur Lucknow Madras Nagpur  \
0        2998   4304  2708      3330  ...   2801   2281    2252   3493   2696
1         448   2278   200      1246  ...    230    290     369   2048    770
3         912   2216   650      1084  ...    713    193     234   2011    608
4         239   3163   445      1892  ...    706    926     939   2688   1416
5        1503   2544  1262      1693  ...   1304    789     825   1857   1122
7        1181   1763  1151      1127  ...    789   1230    1311   1739    774
8         988   1995   742       808  ...    596    585     664   1604    352
12       2741    222  2494       910  ...   2523   2260    2339    715   1483
15       2669    195  2412       912  ...   2369   2218    2297    426   1441
17        462   1881   315      1132  ...    351    280     359   1928    656
18       2101    774  1854       486  ...   1060   1772    1851    683    995
20       2851   4156  2561      3283  ...   2654   2134    2105   3326   2549
22       1046   1885   800       733  ...    845    543     584   1529    257
24       1602   2710  1356      1578  ...   1387    867    1121   1629   1102
25        154   3082   375      1821  ...    891    855     868   2617   1354
27       1910    934  1664       578  ...   1518   1779    1858    910   1050
29        105   3027   310      1756  ...    570    790     803   2552   1280
31       2785    326  2539       995  ...   2496   2345    2424    480   1568
32        381   2741    66      1470  ...    327    537     453   2266    994
39       1480   2455  1214      1434  ...   1243    723     912   1767    958
40       2416   3599  2126      1309  ...   2229   1699    1670   2911   2114
41         99   3056   365      1812  ...    636    846     659   2588   1336
42       1325   1593  1182       983  ...    932   1296    1375   1695    749
43       3051    218  1950      1261  ...   2782   2611    2690    748   1834
44       1032   2331   745      1189  ...    835    315     286   1985    713
45       1959   1174  1716       269  ...   1660   1519    1598    432    742
46       2127   1449  1881       599  ...   1838   1687    1765    762    910

   Nasik Panjim Patna Pondicherry  Pune
0   3365   3507  1681        3661  3442
1   1005   1715   885        2210  1214
3   1155   1419   402        1077  1364
4   1665   2237  1531        2856  1862
5   1746   2300   395        2024  1955
7    457   1158  1582        1735   545
8    605   1143  1016        1772   814
12  1193    576  2476         566   984
15  1214    800  2434         410  1005
17   891   1467   809        2096  1100
18   646    190  1998         653   437
20  3218   3360  1534        3614  3295
22   943   1088   736        1697  1003
24  1788   2229   473        1797  1997
25  1591   2146  1460        2785  1791
27   456    254  2047         907   247
29  1528   2091  1395        2720  1726
31  1467    872  2561         333  1238
32  1242   1805   934        2434  1440
39  1615   1630   302        1935  1675
40  2800   2925  1019        3079  2860
41  1567   2130  1434        2759  1782
42   262    913  1742        1789   412
43  1742    792  2827         622  1533
44  1399   1524   280        2153  1459
45  1428    876  1664         598   842
46  1596   1206  1334         930  1658

[27 rows x 21 columns]

In [26]:
df_.to_csv('class_1_cities.csv', index=False)
df.to_csv('class_2_cities.csv', index=False)

## Heuristic formation

In [27]:
df1_h = df.rename(columns={'Distance in Kilometres': 'Heuristic'}).reset_index(drop=True).copy()
df2_h = df_.rename(columns={'Distance in Kilometres': 'Heuristic'}).reset_index(drop=True).copy()

In [28]:
import requests
def get_geodist(c1, c2):
    URL = f'https://www.distance24.org/route.json?stops={c1}|{c2}'
    r = requests.get(url=URL)
    assert (r.status_code == 200)
    data = r.json()
    return data['distance']

In [29]:
for i in tqdm(range(len(df1_h))):
    city_1 = df1_h['Heuristic'][i]
    for city_2 in df1_h.columns[1:]:
        df1_h[city_2][i] = get_geodist(city_1, city_2)

100%|██████████| 27/27 [06:55<00:00, 15.40s/it]

In [30]:
for i in tqdm(range(len(df2_h))):
    city_1 = df2_h['Heuristic'][i]
    for city_2 in df2_h.columns[1:]:
        df2_h[city_2][i] = get_geodist(city_1, city_2)

100%|██████████| 20/20 [11:30<00:00, 34.52s/it]

In [31]:
df2_h.to_csv('heuristic_1_cities.csv', index=False)
df1_h.to_csv('heuristic_2_cities.csv', index=False)